<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894503455701-vth3po63emf77qm9vaqv4q7itfu9gcsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894503455701-vth3po63emf77qm9vaqv4q7itfu9gcsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894503455701-16hiv3r63s1tqcg98r5o3d1rm2ucfpom.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGXfDqLPEaPJXqg-YCqYsoBy4GodFCDsw</string>
	<key>GCM_SENDER_ID</key>
	<string>894503455701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sparkupApp</string>
	<key>PROJECT_ID</key>
	<string>sparkup-6b9ad</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkup-6b9ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894503455701:ios:c94b17c63b59012d0b0b5c</string>
</dict>
</plist>